<?xml version="1.0"?>
<configuration>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <connectionStrings>
   
    <!-- for installation 
    <add name="databaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\Exchange.mdf;Integrated Security=True;User Instance=True;" providerName="System.Data.SqlClient" />
    -->


    <!-- for debuging -->  
    <add name="databaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\JEExchange\JEExchange\Data\Exchange.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    

  </connectionStrings>
  
</configuration>
